<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)="playStreaming('http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4')">Play https url</ion-button>
    <ion-button (click)="playStreaming('assets/videos/SampleVideo.mp4')">Play Local File </ion-button>
    <ion-button (click)="playStreaming('rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_115k.mov')">Play RTSP url </ion-button>
  </div>
</ion-content>
